{% extends "accounts/base.html" %}
{% load static %}
{% block home_block %}
<img src="{% static 'images/doctor1.PNG' %}" class="img-fluid" alt="Responsive image" style="width:100%;height:70%;padding-top:10">
  <div class="centered">Because we care about you</div>
    <h1 id="about">About us</h1>
    <div class="packing">
      <img src="{% static 'images/doctor2.PNG' %}" class="rounded img-thumbnail doctor_pics" alt="DOCTORS" id="doctor_left">
      <p id="texts">

                      Caring, Healing, Leading since 1990

          Started with the motive of become the hospital of future with
            highest quailty healthcare, We here with a team of 500+
             Doctors and Nurses serving for better health of you.

                          Your Health. Our Mission.

      </p>
    </div>
    <div class="packing">
      <img src="{% static 'images/doctor3.PNG' %}" class="rounded  img-thumbnail doctor_pics" alt="DOCTORS" id="doctor_right">
      <p id="texts">

      Exceptional care. Every patient. Every day.
      Exceptional Care. Exceptional People.
      Exceptional people. Exceptional care.
      Exceptional technology. Extraordinary care.

      </p>
    </div>
    <h1 id="about">Treatments we do</h1>
    <div class="packing">
      <img src="{% static 'images/doctor4.PNG' %}" class="rounded  img-thumbnail doctor_pics" alt="DOCTORS" id="doctor_left">
      <p id="texts">

                            1. General Surgery

                    Covers a wide range of types of surgery and
                          procedures on patients.

      </p>
    </div>
    <div class="packing">
      <img src="{% static 'images/doctor5.PNG' %}" class="rounded  img-thumbnail doctor_pics" alt="DOCTORS" id="doctor_right">
      <p id="texts">

                    2. Occupational Therapy

          Helps physically or mentally impaired people,
      including temporary disability, practices in the fields
           of both healthcare as well as social care.

      </p>
    </div>
    <div class="packing">
      <img src="{% static 'images/doctor6.PNG' %}" class="rounded  img-thumbnail doctor_pics" alt="DOCTORS" id="doctor_left">
      <p id="texts">

                    3. Otolaryngology (Ear, Nose, and Throat)

                The ENT Department provide comprehensive and specialized
                 care covering both Medical and Surgical conditions related
                          not just specifically to the
                    Ear, Nose and Throat, but also other area
                        within the Head and Neck region.

      </p>
    </div>
{% endblock %}
