{% extends "accounts/base.html" %}
{% load bootstrap4 %}

{% block body_block %}

<div class="container">
  <div class="jumbotron">
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}

      <div class="container">
        <div class="jumbotron">
          {% if registered %}
            <h1>Thank you for registering!</h1>
          {% else %}
            <h1>Register Here</h1>
            <h3>Just fill out the form.</h3>

            <form enctype="multipart/form-data" method="POST">
              {% csrf_token %}
              {% bootstrap_form user_form %}
              {% bootstrap_form profile_form %}
              {% buttons %}
                <button type="submit" class="btn btn-primary btn-large">Register</button>
              {% endbuttons %}
            </form>

          {% endif %}

        </div>

      </div>

  </div>
</div>

{% endblock %}
